{%extends 'blog_app/landing_page.html'%}

{% block content %}

    <div class="container text-center mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Registration Successful!</h4>
            <p>Your registration has been completed successfully.</p>
            <hr>
            <i class="fas fa-check-circle fa-5x text-success mt-3"></i>
        </div>
        <a href="/" class="btn btn-primary mt-4">Go to Homepage</a>
    </div>
    
{% endblock %}


