{%extends 'blog_app/base.html' %}
{%block content%}

    <div class="row mt-5" style="display:grid;place-items:center;">
        <div class="blog-detail col-md-6 pt-4">
            <div class="card">
                <div class="card-body">
                    <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.title }}">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content }}</p>
                </div>
                <a href="{%url 'blog:add_comment' blog.id%}" class="btn btn-outline-primary">Add Comment</a>
            </div>
            <div class="comment-container mt-5">
                {% for comment in comments %}
                    <div class="container">
                        <div class="comment p-3 mb-3 bg-light">
                            <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                            <h4>{{comment.auther}}</h4>
                            <span>- {{comment.created_at}}</span>
                            <div class="comment-body">
                                {{ comment.text }}
                                {% for reply in comment.replies.all %}
                                    <div class="reply p-2 bg-secondary text-white">
                                        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                                        <h4>{{comment.auther}}</h4>
                                        <span>- {{comment.created_at}}</span>
                                        <div class="reply-body">
                                            {{ reply.text }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                
        </div>
    </div>

    <style>
        .comment {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .reply {
            margin-left: 20px;
        }
    </style>


{%endblock%}