{%extends 'blog_app/base.html'%}
{% load static %}

{% block content %}
{{form.media}}

<div aria-live="polite" aria-atomic="true" class="position-relative bg-success">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    hi viaml
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
<div class="form_container row d-flex justify-content-center align-items-center">
    <form enctype="multipart/form-data" method="POST" action="{% url 'blog:blog_create'%}" class="col-sm-9 post-form">
        {% csrf_token %} 
            {% for field in form %}
                <div class="form-group p-2">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        <div class="buttons d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <div id="responseMessage">

    </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.toast').toast({ delay: 3000 }); // Set the delay for the toast
            $('.toast').toast('show'); // Show the toast
        });
    </script>
{% endblock %}
